  <footer class="footer">

    <div class="container">

      <div class="footer-row">

        <div class="footer-links">

          <h4>Compañia</h4>
          <ul>
            <li><a href="{% url 'index' %}">Nosotros</a></li>
            <li><a href="{% url 'index' %}">Servicios</a></li>
            <li><a href="{% url 'index' %}">Politicas</a></li>
            <li><a href="{% url 'index' %}">Afiliados</a></li>
          </ul>

        </div>
        <div class="footer-links">
        
          <h4>Ayuda</h4>
          <ul>
            <li><a href="{% url 'index' %}">Preguntas</a></li>
            <li><a href="{% url 'index' %}">Compras</a></li>
            <li><a href="{% url 'index' %}">Envios</a></li>
            <li><a href="{% url 'index' %}">Estatus de orden</a></li>
            <li><a href="{% url 'index' %}">Pagos</a></li>
          </ul>
        
        </div>
        <div class="footer-links">
        
          <h4>Tienda</h4>
          <ul>
            <li><a href="{% url 'index' %}">Consolas</a></li>
            <li><a href="{% url 'index' %}">Juegos retro</a></li>
            <li><a href="{% url 'index' %}">Accesorios</a></li>
            <li><a href="{% url 'index' %}">Ropa</a></li>
          </ul>
        
        </div>
        <div class="footer-links">
        
          <h4>Siguenos</h4>
          <div class="social-links">
            <a href="{% url 'index' %}"><i class="bi bi-facebook"></i></a>
            <a href="{% url 'index' %}"><i class="bi bi-instagram"></i></a>
            <a href="{% url 'index' %}"><i class="bi bi-twitter-x"></i></a>
          </div>
        
        </div>

      </div>

    </div>

  </footer>