<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static}
    <link rel="stylesheet" href="{% static 'css/style.css'}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body style="background-color: rgb(228, 179, 179);">
    {% include 'base/header.html'%}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8 shadow-lg mx-auto text-center p-3" style="background-color: rgb(255, 248, 227);">
                    <h2 class="my-3">Formulario de registro</h2>
                    <form action="{% url 'user_add' %}" method="POST" class="fort-floating">
                        {% csrf_token %}
                        <div class="form-floating mb-3 w-50 mx-auto">
                            <input type="text" class="form-control" id="rut" name="rut">
                            <label for="rut">Rut</label>
                        </div>
                        <div class="form-floating mb-3 w-50 mx-auto">
                            <input type="text" class="form-control" id="nombre" name="nombre">
                            <label for="nombre">Nombre</label>
                        </div>
                        <div class="form-floating mb-3 w-50 mx-auto">
                            <input type="text" class="form-control" id="appPaterno" name="appPaterno">
                            <label for="appPaterno">Apellido Paterno</label>
                        </div>
                        <div class="form-floating mb-3 w-50 mx-auto">
                            <input type="text" class="form-control" id="appMaterno" name="appMaterno">
                            <label for="appMaterno">Apellido Materno</label>
                        </div>
                        <div class="form-floating mb-3 w-50 mx-auto">
                            <input type="Date" class="form-control" id="fecha" name="fecha">
                            <label for="fecha">Fecha Nacimiento</label>
                        </div>
                        <div class="form-floating mb-3 w-50 mx-auto">
                            <select class="form-select" id="genero" name="genero">
                            {% for tmp in generos %}
                            <option value="{{tmp.id_genero}}">{{tmp.genero}}</option>
                            {% endfor %}
                            </select>
                            <label for="genero">Genero</label>
                        </div>
                        <div class="form-floating mb-3 w-25 mx-auto">
                            <input type="password" class="form-control" id="password" name="password">
                            <label for="password" class="form-label">Contraseña</label>
                        </div>
                        <div class="form-floating mb-3 w-50 mx-auto">
                            <input type="text" class="form-control" id="telefono" name="telefono">
                            <label for="telefono">Telefono</label>
                        </div>
                        <div class="form-floating mb-3 w-50 mx-auto">
                            <input type="email" class="form-control" id="correo" name="correo">
                            <label for="correo">Correo</label>
                        </div>
                        <div class="form-floating mb-3 w-50 mx-auto">
                            <input type="text" class="form-control" id="direccion" name="direccion">
                            <label for="direccion">Direccion</label>
                        </div>
                        <div>
                            {% if mensaje %}
                            <div class="alert alert-success w-50 mx-auto">
                                {{mensaje}}
                            </div>
                            {% endif %}
                        </div>
                        <div>
                            <button type="submit" class="btn btn-succes">Agregar Registro</button><br>
                            <a href="{% url 'crud' %}"><button type="button" class="btn btn-primary mt-3">Volver</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    
</body>
</html>