.navbar {
    padding: 2rem;
    background-color: #a04040;
    font-size: 25px;
}

.navbar i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* general */
body {
    background-color: #fff7f0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion_inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 2.5rem;
    font-family: "Sedan SC", serif;
}

.seccion-oscura {
    background-color: #1b1b32;
    color: white;
}

.seccion-clara {
    background-color: white;
    color: black;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: "Sedan SC", serif;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion-texto {
    font-size: 1.2rem;
    padding: 10px;
}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

/* Seccion Hero */
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}

.hero-img {
    width: 100%;
    height: auto;
    margin: 20px;
}

@media screen and (min-width: 700px) {
    .hero-inferior-img {
        max-width: 600px;
    }
}

.portada {
    text-align: center;
}

.portada p {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}

/* Sobre mi */
.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/* Experiencia */
.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.experiencia i {
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
    padding: 40px;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}

/* Carrusel */

.carousel {
    height: 25%;
    width: 50%;
}

.carousel button {
    height: 60px;
    width: 60px;
}


/* Productos */

.vitrina {
    padding: 40px;
}

.vitrina img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.vitrina-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.juego {
    position: relative;
}

/* Footer */

.footer {
    background-color: #a04040;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    margin: 0;
    padding: 0 15px;
    box-sizing: border-box;

}

.footer-links h4 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
}

.social-links a i {
    color: white;
    width: 40px;
    height: 40px;
}